In [1]:
import pandas as pd

In [4]:
print(pd.__version__)

1.4.4

In [8]:
dk = {
    "Stu_Name" : ["Milan", "Nirmal", "Pratham", "Dhrumil"],
    "Stu_Age" : [37,38,20,23],
    "Stu_City" : ["Rajkot", "Ahmedabad", "Vadodara", "Surat"]
}
dk

{'Stu_Name': ['Milan', 'Nirmal', 'Pratham', 'Dhrumil'],
 'Stu_Age': [37, 38, 20, 23],
 'Stu_City': ['Rajkot', 'Ahmedabad', 'Vadodara', 'Surat']}

In [10]:
de = pd.Series(dk)
de

Stu_Name       [Milan, Nirmal, Pratham, Dhrumil]
Stu_Age                         [37, 38, 20, 23]
Stu_City    [Rajkot, Ahmedabad, Vadodara, Surat]
dtype: object

In [11]:
be = pd.DataFrame(dk)
be

  Stu_Name  Stu_Age   Stu_City
0    Milan       37     Rajkot
1   Nirmal       38  Ahmedabad
2  Pratham       20   Vadodara
3  Dhrumil       23      Surat

In [16]:
sa = pd.read_csv("customer_shopping_data.csv")
sa

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [5]:
fa = pd.read_csv("C://Users//Rutvi//Downloads//sample-csv-file-for-testing.csv")
fa

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May,2014

In [4]:
    ass = pd.read_excel("D:\my_codes.py\CSV For Data\Retail Analysis Sample-no-PV.xlsx")
    ass

    Unnamed: 0                                         Unnamed: 1
0          NaN  This workbook and related data is provided by ...
1          NaN                                                NaN
2          NaN                                                NaN
3          NaN                                   www.obvience.com
4          NaN  Obvience is an ISV and an Intellectual Propert...
5          NaN                                                NaN
6          NaN  This file and associated data is property of o...
7          NaN                                                NaN
8          NaN  Any uses of this workbook and/or data must inc...
9          NaN                                                NaN
10         NaN  The data in this Excel file is all contained i...
11         NaN  To see the data and formulas, you may first ne...
12         NaN                 1. Go to File > Options > Add-Ins.
13         NaN      2. In the Manage box, click COM Add-ins > Go.
14         NaN  3. Select the Microsoft Office Power Pivot box...
15         NaN        The Excel ribbon now has a Power Pivot tab.
16         NaN  4. Select the Power Pivot tab, and select Mana...

In [42]:
sds = pd.read_csv("D:\\my_codes.py\\CSV For Data\\SampleCSVFile_2kb.csv")
sds

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xae in position 265: invalid start byte

In [8]:
sds_2 = pd.read_csv("D:\\my_codes.py\\CSV For Data\\SampleCSVFile_2kb.csv")
sds_2

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xae in position 265: invalid start byte

In [6]:
fa.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', 'Units Sold',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

In [7]:
g = [5,6,8,9,7]
g

[5, 6, 8, 9, 7]

In [10]:
ta = pd.Series(g)
ta

0    5
1    6
2    8
3    9
4    7
dtype: int64

In [12]:
ta_2 = pd.Series(g, dtype = "int32")
ta_2

0    5
1    6
2    8
3    9
4    7
dtype: int32

In [15]:
ta_3 = pd.Series(g, index = ['A','B','C','D','E'])
ta_3

A    5
B    6
C    8
D    9
E    7
dtype: int64

In [18]:
ta_4 = pd.Series(g, index = ['A','Y','C','Z','X'])
ta_4

A    5
Y    6
C    8
Z    9
X    7
dtype: int64

In [20]:
ta_5 = pd.Series(ta_2, index = ['A','B','C','X','Z'])
ta_5

A   NaN
B   NaN
C   NaN
X   NaN
Z   NaN
dtype: float64

In [21]:
print("Version of Pandas:", pd.__version__)

Version of Pandas: 1.4.4

In [22]:
ta_4 = pd.Series(g, index = ['A','Y','C','Z','X'])
ta_4

A    5
Y    6
C    8
Z    9
X    7
dtype: int64

In [24]:
ta = pd.Series(g)
ta

0    5
1    6
2    8
3    9
4    7
dtype: int64

In [25]:
print(ta[2])

8

In [26]:
print(ta[3,1])

KeyError: 'key of type tuple not found and not a MultiIndex'

In [32]:
print(ta[[3,2]])

3    9
2    8
dtype: int64

In [33]:
print(ta[[3,1,4]])

3    9
1    6
4    7
dtype: int64

In [34]:
t_1 = pd.Series(g, index = ['a','b','c','d','z'])
t_1

a    5
b    6
c    8
d    9
z    7
dtype: int64

In [35]:
print(t_1['b'])

6

In [36]:
print(t_1['z'])

7

In [49]:
gf = {
    "Name" : ["Dhrumil", "Milan", "Nirmal", "Pratham", "Vicky"],
    "Age" : [24,37,38,21,43],
    "City" : ["Ahmedabad", "Rajkot", "Maninagar", "Vadodara", "Surat"],
    "Salary" : [37200,23540,17360,32700,21600]
}
gf

{'Name': ['Dhrumil', 'Milan', 'Nirmal', 'Pratham', 'Vicky'],
 'Age': [24, 37, 38, 21, 43],
 'City': ['Ahmedabad', 'Rajkot', 'Maninagar', 'Vadodara', 'Surat'],
 'Salary': [37200, 23540, 17360, 32700, 21600]}

In [50]:
re = pd.Series(gf)
re

Name             [Dhrumil, Milan, Nirmal, Pratham, Vicky]
Age                                  [24, 37, 38, 21, 43]
City      [Ahmedabad, Rajkot, Maninagar, Vadodara, Surat]
Salary                [37200, 23540, 17360, 32700, 21600]
dtype: object

In [51]:
df = pd.DataFrame(gf)
df

      Name  Age       City  Salary
0  Dhrumil   24  Ahmedabad   37200
1    Milan   37     Rajkot   23540
2   Nirmal   38  Maninagar   17360
3  Pratham   21   Vadodara   32700
4    Vicky   43      Surat   21600

In [45]:
tr = {
    "Name" : ["Reyansh"],
    "Age" : [15],
    "City" : ["S.nagar"],
    "Age" : [34],
    "Name" : ["Biren"],
    "City" : ["Indore"]
}
tr

{'Name': ['Biren'], 'Age': [34], 'City': ['Indore']}

In [44]:
pd.DataFrame(tr)

    Name  Age    City
0  Biren   34  Indore

In [52]:
print(df.loc[0])

Name        Dhrumil
Age              24
City      Ahmedabad
Salary        37200
Name: 0, dtype: object

In [53]:
print(df.loc[3])

Name       Pratham
Age             21
City      Vadodara
Salary       32700
Name: 3, dtype: object

In [54]:
print(df.loc[[2,1]])

     Name  Age       City  Salary
2  Nirmal   38  Maninagar   17360
1   Milan   37     Rajkot   23540