In [2]:
import mysql.connector
import os

mydb = mysql.connector.connect(
    host="localhost",
    port=3306,
    user="root",
    password="Dhru@7047",database = "aaj")

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute('CREATE TABLE DRKANSARA(NAME VARCHAR(46))')

In [5]:
mycursor.execute('SHOW TABLES')
for y in mycursor:
    print(y)

('drkansara',)
('mer',)
('new_view1',)
('new_view2',)
('ter',)
('timee',)
('tre',)